*,
html{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(prism.png);
    background-repeat: repeat-x;
    background-size: 70px;
}

.container{
    display: flex;
}

.navigation{
    margin-top: 70px;
    background-color: #00ABB3;
    width: 20%;
    height: 480px;
}

.ul-nav{
    padding: 2px;
}

.ul-nav li{
    list-style-type: none;
    padding: 30px;
    margin: 6px;
}

.a-nav{
    color: #2C3333;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
    text-decoration-line: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

li:hover{
    background-color: #B2B2B2;
    border-radius: 5px;
    transition-delay: .2s;
    transition: .6s ease-in-out;
}

.main-table{
    margin-top: 70px;
    background-color: #B2B2B2;
    list-style-type: none;
    padding: 30px;
    width: 80%;
}

.submain-table h1{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

.main-table img{
    width: 30px;
    height: 30px;
}

.main-home{
    margin-top: 70px;
    padding: 60px;
}

.main-home h1{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    border-radius: 10px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.main-home h5{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

.main-porto{
    margin-top: 70px;
    /* margin-left: 70px; */
    padding: 30px;
    text-transform: capitalize;
    background-color: #B2B2B2;
    width: 80%;
}

.submain-porto{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 350px;
}

.submain-porto img{
    width: 23%;
    margin: 30px;
}

.main-profile{
    margin-top: 70px;
    padding: 20px;
    text-transform: capitalize;
    background-color: #B2B2B2;
    width: 80%;
    display: flex;
}

.submain-profile p{
    padding: 18px;
}

.main-profile img{
    width: 170px;
    height: 280px;
    float: right;
    margin: 5px;
}

.main-cv{
    margin-top: 70px;
    padding: 30px;
    background-color: #B2B2B2;
    width: 80%;
    text-transform: capitalize;
}

.main-cv img{
    float: left;
    margin: 5px;
    width: 500px;
    height: 320px;
}

img{ 
    /* yang di home  */
    width: 300px;
    height: 300px;
    margin-top: 120px;
    margin-right: 50px;
}

.footer{
    background-color: #EAEAEA;
    width: 100%;
    height: 80px;
}

.footer p{
    text-transform: capitalize;
    font-size: large;
    text-align: center;
}